@model Dnevnik.Web.ViewModels.StudentsViewModel

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Ученици</h1>

            </div>
        </div>

        @if (TempData["success"] == "1")
        {
            <div class="alert alert-success">
                Промените са запазени успешно.
            </div>
        }
        else if (TempData["success"] == "0")
        {
            <div class="alert alert-danger">
                Нещо се обърка. Промените не бяха запазени успешно.
            </div>
        }
        
        @if (TempData["userAdded"] == "1")
        {
            <div class="alert alert-success">
                Ученикът е добавен успешно.
            </div>
        }
        else if (TempData["userAdded"] == "0")
        {
            <div class="alert alert-danger">
                Нещо се обърка. Ученикът не е добавен.
            </div>
        }

        @using (Html.BeginForm("SaveStudent", "Students", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading" style="cursor: pointer;" onclick="ShowAddStudentTable()">
                    <div style="float: left;">Добавяне на ученик</div>
                    <div style="clear:both;"></div>
                </div>
                <div class="panel-body" id="addStudentDiv" style="display: none;">
                    <table class="table table-striped table-bordered table-hover" style="width: 300px;">
                        <tr>
                            <td style="text-align: center;">ЕГН</td>
                            <td>@Html.EditorFor(m => @Model.StudentToAdd.EGN, new { htmlAttributes = new { @class = "form-control" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">Номер</td>
                            <td>@Html.EditorFor(m => @Model.StudentToAdd.Number, new { htmlAttributes = new { @class = "form-control" } })</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">Име</td>
                            <td>@Html.EditorFor(m => @Model.StudentToAdd.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" class="saveChangesButton" style="width: 100%;" value="Добави ученик" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--End Advanced Tables -->
        }

        @using (Html.BeginForm("SaveStudentChanges", "Students", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="float: left;">Списък с всички ученици</div>
                    <div style="float:right;">
                        <input type="submit" class="saveChangesButton" value="Запази промените" />
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align: center;">ЕГН</th>
                                    <th width="10%" style="text-align: center;">Номер</th>
                                    <th width="30%">Име</th>
                                    <th width="20%">Забележка</th>
                                    <th width="10%" style="text-align: center;">Извинени</th>
                                    <th width="10%" style="text-align: center;">Неизвинени</th>
                                    <th width="10%" style="text-align: center;">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < @Model.AllStudents.Count; i++)
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @Html.EditorFor(m => @Model.AllStudents[i].EGN, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => @Model.AllStudents[i].Number, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.HiddenFor(m => @Model.AllStudents[i].Id)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => @Model.AllStudents[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => @Model.AllStudents[i].Note, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                        <td class="tableCellCentered">X</td>
                                        <td class="tableCellCentered">X</td>
                                        <td style="text-align: center;">
                                            <a href="@Url.Action("Details", "Students")" class="tableButton">
                                                <img src="~/Content/assets/img/detailsButton.png" title="Детайли" />
                                            </a>
                                            <a href="@Url.Action("Delete", "Students")" class="tableButton">
                                                <img src="~/Content/assets/img/deleteButton.png" title="Изтрий" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        }
        <!-- /. ROW  -->
        <footer></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>