@model List<Dnevnik.ViewModels.Data.SingleClass>
@{
    TempData["title"] = "Справки";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper">
    <div id="page-inner">

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Справки</h1>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="float: left;">Доклад</div>
                <div style="clear:both;"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="width: 200px;">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("GetStatsToExcel", "AdminStats", new { semester = 21 })" class="tableButton">
                                        Първи срок
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("GetStatsToExcel", "AdminStats", new { semester = 22 })" class="tableButton">
                                        Втори срок
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("GetStatsToExcel", "AdminStats", new { semester = 23 })" class="tableButton">
                                        Година
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <footer></footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="float: left;">Класове</div>
                <div style="clear:both;"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="width: 200px;">
                        <thead>
                        <th style="text-align: center;">Клас</th>
                        <th style="text-align: center;">Детайли</th>
                        </thead>
                        <tbody>
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td style="text-align: center;">@c.NumberAndLetter</td>
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("Show", "AdminStats", new { class_id = @c.Id })" class="tableButton">
                                            <img src="~/Content/assets/img/detailsButton.png" title="Детайли" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <footer></footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
        </div>



    </div>
</div>